/* FONTS */
@font-face {
    font-family: "laconic";
    src: url("../../assets/fonts/Laconic_Regular.otf");
}

/* VARIABLES */
$PRIMARY_COLOR: aqua;
$SECONDARY_COLOR: aquamarine;
$TERTIARY_COLOR: silver;
$BACKGROUND_COLOR: black;
$STD_RADIUS: 20px;
$LIGHT_RADIUS: 5px;
$GAME_BORDER: 2px $TERTIARY_COLOR inset;
$CANVA_HEIGHT: 90%;
$FULL: 100%;
$THREE_QRT: 75%;

/* MIXINS */
@mixin button {
    border: none;
    background-color: $SECONDARY_COLOR;
    color: $BACKGROUND_COLOR;
    margin: auto;
    height: auto;
    font-size: 1.2rem;
    font-weight: bold;
    width: $FULL;
    cursor: pointer;
}
@mixin modal {
    padding-bottom: 1%;
    position: absolute;
    border-radius: $STD_RADIUS;
    background-color: $BACKGROUND_COLOR;
    width: 30%;
    height: 30%;
    top: 35%;
    left: 35%;
}

/* ANIMATIONS */
@keyframes virusAnim {
    from {
        transform: translate(0%, 0%) scale(var(--scaler));
    }
    to {
        transform: translate(var(--trX), var(--trY)) scale(var(--scaler));
    }
}
@keyframes alertAnim {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* GENERICS */
html body {
    height: 100vh;
    width: 100vw;
}
body {
    margin: 0;
    padding: 0;
    font-family: laconic, Roboto, "Helvetica Neue", sans-serif;
    background-image: url("../../assets/images/back.jpg");
    background-size: cover;
    background-repeat: repeat;
    user-select: none;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
    font-size: 1.3rem;
    font-weight: bolder;
}

/* GAME STYLES */
.game {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $FULL;
    width: $FULL;
    margin: auto;

    &__menu {
        box-sizing: border-box;
        height: $CANVA_HEIGHT;
        width: 20%;
        background-color: $BACKGROUND_COLOR;
        border-radius: $STD_RADIUS 0px 0px $STD_RADIUS;
        border-left: $PRIMARY_COLOR 1px outset;
        border-bottom: $PRIMARY_COLOR 4px outset;
        border-top: $PRIMARY_COLOR 4px outset;
        border-right: $TERTIARY_COLOR 4px groove;
        color: $SECONDARY_COLOR;
        padding: 1% 1% 0 1%;

        &--description {
            text-align: justify;
            height: 30%;
        }
        &--board {
            margin-top: 5%;
        }
        &--start {
            @include button;
            border-radius: $STD_RADIUS;
            &:hover {
                background-color: $PRIMARY_COLOR;
            }
        }
        &--alert-area {
            display: flex;
            justify-content: center;
            position: relative;
            margin: auto;
            width: 50%;
            height: auto;
        }
        &--scores {
            @include button;
            &:hover {
                background-color: $PRIMARY_COLOR;
            }
            &:disabled {
                background-color: $TERTIARY_COLOR;
                cursor: not-allowed;
            }
        }
    }
    &__results--area {
        height: 18%;
    }

    &__canva {
        background-image: url("../../assets/images/city.jpg");
        background-size: cover;
        border: $GAME_BORDER;
        width: $THREE_QRT;
        height: $CANVA_HEIGHT;
        cursor: crosshair;
        position: relative;
    }
}

.virus {
    position: absolute;
    top: var(--top);
    left: var(--left);
    transform: translate(-50%, -50%);
    height: var(--y);
    width: var(--x);
    --scaler: 1;
    animation: virusAnim 14s infinite alternate;

    &:hover {
        --scaler: 1.03;
    }
    &:active {
        --scaler: 0.97;
    }
}

#alert {
    box-sizing: border-box;
    opacity: 1;
    animation: alertAnim ease-in 1s infinite alternate;
    width: $THREE_QRT;
    height: $THREE_QRT;
}

.login {
    color: $TERTIARY_COLOR;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 1%;
    @include modal;

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: auto;
        height: 20vh;
        width: 50%;

        &--submit {
            border-radius: $LIGHT_RADIUS;
            @include button;
            &:hover {
                background-color: $TERTIARY_COLOR;
            }
        }

        &--input {
            border: 1px $TERTIARY_COLOR solid;
            background-color: $TERTIARY_COLOR;
            border-radius: $LIGHT_RADIUS;
            width: $FULL;
            text-align: center;
            font-weight: bolder;
            font-size: 1.1rem;
            text-transform: uppercase;
        }

        &--label {
            width: $FULL;
            margin-bottom: 1.5%;
            font-style: italic;
        }

        &--check {
            width: $FULL;
            display: flex;
            justify-content: space-between;
            margin-top: 5%;
            line-height: 1.5;
        }
    }
}

table {
    width: $FULL;
    font-size: 0.9em;
    color: $PRIMARY_COLOR;
    text-align: left;
    padding: 0;
    margin-bottom: 1%;
}
td {
    font-size: 0.8em;
}

#modal {
    @include modal;
    border: $GAME_BORDER;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;

    button {
        align-self: flex-end;
        justify-self: flex-start;
        margin-right: 2%;
        margin-top: 2%;
        border: none;
        background-color: $BACKGROUND_COLOR;
        cursor: pointer;
        color: $SECONDARY_COLOR;
        &:hover {
            color: red;
        }
    }
    table {
        width: $THREE_QRT;
        text-align: center;
        caption,
        th {
            color: $SECONDARY_COLOR;
            font-weight: 1000;
            text-justify: auto;
            letter-spacing: 0.2em;
            margin-bottom: 2%;
        }
    }
}
