/* FONTS */
@font-face {
  font-family: "laconic";
  src: url("../../assets/fonts/Laconic_Regular.otf");
}
/* VARIABLES */
/* MIXINS */
/* ANIMATIONS */
@keyframes virusAnim {
  from {
    transform: translate(0%, 0%) scale(var(--scaler));
  }
  to {
    transform: translate(var(--trX), var(--trY)) scale(var(--scaler));
  }
}
@keyframes alertAnim {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* GENERICS */
html body {
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  padding: 0;
  font-family: laconic, Roboto, "Helvetica Neue", sans-serif;
  background-image: url("../../assets/images/back.jpg");
  background-size: cover;
  background-repeat: repeat;
  user-select: none;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 1.3rem;
  font-weight: bolder;
}

/* GAME STYLES */
.game {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: auto;
}
.game__menu {
  box-sizing: border-box;
  height: 90%;
  width: 20%;
  background-color: black;
  border-radius: 20px 0px 0px 20px;
  border-left: aqua 1px outset;
  border-bottom: aqua 4px outset;
  border-top: aqua 4px outset;
  border-right: silver 4px groove;
  color: aquamarine;
  padding: 1% 1% 0 1%;
}
.game__menu--description {
  text-align: justify;
  height: 30%;
}
.game__menu--board {
  margin-top: 5%;
}
.game__menu--start {
  border: none;
  background-color: aquamarine;
  color: black;
  margin: auto;
  height: auto;
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
  border-radius: 20px;
}
.game__menu--start:hover {
  background-color: aqua;
}
.game__menu--alert-area {
  display: flex;
  justify-content: center;
  position: relative;
  margin: auto;
  width: 50%;
  height: auto;
}
.game__menu--scores {
  border: none;
  background-color: aquamarine;
  color: black;
  margin: auto;
  height: auto;
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
}
.game__menu--scores:hover {
  background-color: aqua;
}
.game__menu--scores:disabled {
  background-color: silver;
  cursor: not-allowed;
}
.game__results--area {
  height: 18%;
}
.game__canva {
  background-image: url("../../assets/images/city.jpg");
  background-size: cover;
  border: 2px silver inset;
  width: 75%;
  height: 90%;
  cursor: crosshair;
  position: relative;
}

.virus {
  position: absolute;
  top: var(--top);
  left: var(--left);
  transform: translate(-50%, -50%);
  height: var(--y);
  width: var(--x);
  --scaler: 1;
  animation: virusAnim 14s infinite alternate;
}
.virus:hover {
  --scaler: 1.03;
}
.virus:active {
  --scaler: 0.97;
}

#alert {
  box-sizing: border-box;
  opacity: 1;
  animation: alertAnim ease-in 1s infinite alternate;
  width: 75%;
  height: 75%;
}

.login {
  color: silver;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 1%;
  padding-bottom: 1%;
  position: absolute;
  border-radius: 20px;
  background-color: black;
  width: 30%;
  height: 30%;
  top: 35%;
  left: 35%;
}
.login__form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  height: 20vh;
  width: 50%;
}
.login__form--submit {
  border-radius: 5px;
  border: none;
  background-color: aquamarine;
  color: black;
  margin: auto;
  height: auto;
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
}
.login__form--submit:hover {
  background-color: silver;
}
.login__form--input {
  border: 1px silver solid;
  background-color: silver;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  font-weight: bolder;
  font-size: 1.1rem;
  text-transform: uppercase;
}
.login__form--label {
  width: 100%;
  margin-bottom: 1.5%;
  font-style: italic;
}
.login__form--check {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  line-height: 1.5;
}

table {
  width: 100%;
  font-size: 0.9em;
  color: aqua;
  text-align: left;
  padding: 0;
  margin-bottom: 1%;
}

td {
  font-size: 0.8em;
}

#modal {
  padding-bottom: 1%;
  position: absolute;
  border-radius: 20px;
  background-color: black;
  width: 30%;
  height: 30%;
  top: 35%;
  left: 35%;
  border: 2px silver inset;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}
#modal button {
  align-self: flex-end;
  justify-self: flex-start;
  margin-right: 2%;
  margin-top: 2%;
  border: none;
  background-color: black;
  cursor: pointer;
  color: aquamarine;
}
#modal button:hover {
  color: red;
}
#modal table {
  width: 75%;
  text-align: center;
}
#modal table caption,
#modal table th {
  color: aquamarine;
  font-weight: 1000;
  text-justify: auto;
  letter-spacing: 0.2em;
  margin-bottom: 2%;
}

/*# sourceMappingURL=style.css.map */
